<div class="justify-center min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
    <div class="grid grid-rows-3 grid-flow-col gap-10 place-items-center">
      <div class="row-span-2 max-w-2xl">
        <div class="text-4xl font-semibold font-mono text-center">
          <p class="bg-clip-text text-transparent bg-gradient-to-r from-cyan-500 to-purple-500">
            Innovando la atención médica
          </p>
        </div>
        <br />
        <p class="text-1xl font-medium font-mono text-center">
          Identifica y resuelve errores, problemas de rendimiento, eficiencia,
          estándares y optimización algorítmica con nuestra plataforma web impulsada
          por
          <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-red-500 via-pink-500 to-violet-500"
            >Gemini AI</span
          >.
        </p>
      </div>
      <div class="col-span-1 max-w-md">
        <div class="grid grid-cols-1 gap-4">
          <ng-template [ngIf]="(shareService.isLogged$ | async) !== true">
            <a mat-fab extended routerLink="/med/auth" class="w-full">
              <mat-icon>key</mat-icon>
              Login
            </a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
