<form [formGroup]="assistantForm" (ngSubmit)="onSubmit()">
    <div class="flex">
        <div class="flex-auto w-full">
            <div class="mat-elevation-z0">
                <div class="ms-container">
                    <div>
                        <mat-toolbar class="ms-toolbar" position="end">
                            <ng-template [ngIf]="activarToolbar">
                                <mat-toolbar-row>
                                    <span class="spacer"></span>
                                    <button
                                        mat-icon-button
                                        (click)="snav.toggle()"
                                        matTooltip="Chat menu"
                                        type="button"
                                    >
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </mat-toolbar-row>
                            </ng-template>
                        </mat-toolbar>
                    </div>

                    <mat-sidenav-container
                        class="ms-sidenav-container min-h-full"
                    >
                        <mat-sidenav #snav mode="side" position="end">
                            <mat-nav-list>
                                @for (t of userTreadsDatasource; track t) {
                                <mat-list-item>
                                    <button
                                        type="button"
                                        mat-icon-button
                                        matListItemMeta
                                        [matMenuTriggerFor]="menu"
                                    >
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button
                                            mat-menu-item
                                            (click)="restartConversation(t)"
                                        >
                                            <mat-icon>cloud_download</mat-icon>
                                            <span>Restart</span>
                                        </button>
                                        <button
                                            mat-menu-item
                                            (click)="deleteChat(t)"
                                        >
                                            <mat-icon>delete</mat-icon>
                                            <span>Delete</span>
                                        </button>
                                    </mat-menu>
                                    <a
                                        matListItemTitle
                                        class="text-ellipsis overflow-hidden"
                                        routerLink="."
                                        [title]="
                                            t.gemini[t.gemini.length - 2]
                                                .parts[0]
                                        "
                                        >{{ t.created_at | date }}</a
                                    >
                                </mat-list-item>
                                }
                            </mat-nav-list>
                        </mat-sidenav>
                        <mat-sidenav-content class="min-h-full">
                            <cdk-virtual-scroll-viewport
                                itemSize="50"
                                class="viewport"
                            >
                                <div class="p-5">
                                    <ng-container
                                        *ngFor="let c of geminiContent"
                                    >
                                        <div class="p-4">
                                            <markdown
                                                #markdownComponent
                                                lineNumbers
                                                [start]="1"
                                                [data]="c.parts"
                                            ></markdown>
                                        </div>
                                    </ng-container>
                                </div>
                            </cdk-virtual-scroll-viewport>
                        </mat-sidenav-content>
                    </mat-sidenav-container>
                    <div class="ct-toolbar">
                        <mat-toolbar>
                            <mat-toolbar-row>
                                <mat-form-field
                                    class="w-full"
                                    appearance="fill"
                                >
                                    <mat-label>{{
                                        'Type Something'
                                    }}</mat-label>
                                    <textarea
                                        matInput
                                        formControlName="instruccion"
                                        class="max-h-20"
                                    >
                                    </textarea>
                                    <button
                                        mat-icon-button
                                        matSuffix
                                        [matMenuTriggerFor]="menu"
                                        type="button"
                                    >
                                        <mat-icon>add_circle</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button
                                            mat-menu-item
                                            [disabled]="false"
                                            type="button"
                                            (click)="filesInput.click()"
                                        >
                                            <mat-icon>{{
                                                'upload_file'
                                            }}</mat-icon>
                                            <span>Upload File</span>
                                        </button>
                                        <button
                                            mat-menu-item
                                            [disabled]="false"
                                            (click)="clearBox()"
                                            type="button"
                                        >
                                            <mat-icon>{{
                                                'clear_all'
                                            }}</mat-icon>
                                            <span>Clear Chat</span>
                                        </button>
                                    </mat-menu>

                                    <button
                                        mat-icon-button
                                        matSuffix
                                        type="submit"
                                        class="m-2"
                                    >
                                        <mat-icon>send</mat-icon>
                                    </button>
                                </mat-form-field>
                            </mat-toolbar-row>
                            <mat-toolbar-row>
                                <span class="spacer"></span>
                                <p class="text-sm">
                                    Gemini API might give you the wrong info, so
                                    make sure you check it out.
                                </p>
                                <span class="spacer"></span>
                            </mat-toolbar-row>
                        </mat-toolbar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- File input -->
<input
    #filesInput
    type="file"
    id="fileInput"
    multiple
    hidden
    (change)="handleFile($event)"
/>
