::ng-deep .ct-toolbar .mat-toolbar-multiple-rows {
  min-height: auto !important;
}

::ng-deep .ct-toolbar .mat-toolbar-row, .mat-toolbar-single-row  {
  height: auto !important;
//   padding: 0px !important;
}

::ng-deep .cdk-virtual-scroll-content-wrapper {
  display: contents;
}

.viewport {
  min-height: calc(100vh - (var(--mat-toolbar-standard-height) + var(--mat-toolbar-standard-height) + var(--mat-toolbar-standard-height) + var(--mat-toolbar-standard-height) + var(--mat-toolbar-standard-height)));
}


//Markdown
// .markdown {
//   font-family: 'Helvetica', 'Arial', sans-serif;
//   line-height: 1.7rem;
// }
