@use 'sass:map';
@use '@angular/material' as mat;
@include mat.core();
@import "../styles/variables.scss";

@mixin borders($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  // $primary-palette: map.get($color-config, 'primary');
  // $accent-palette: map.get($color-config, 'accent');

  .mat-elevation-z0 {
    -webkit-box-shadow: $border1 0 0 2px, $border2 0 12px 24px -4px !important;
    // -webkit-box-shadow: #919eab4d 0 0 2px, #919eab05 0 12px 24px -4px !important;
  }

  .mat-drawer-side.mat-drawer-end {
    border-top-color: var(--mat-sidenav-container-divider-color);
    border-top-width: 1px;
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config !=null {
    @include borders($theme);
  }
}