<div
    class="justify-center min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8"
>
    <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 mb-3">
            <div class="col-span-1 md:col-span-2 text-right">
                <button
                    mat-mini-fab
                    matTooltip="Save user"
                    color="primary"
                    [disabled]="editUserForm.invalid"
                >
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <h1 class="mt-5 mb-5 font-semibold text-lg">Grupo:</h1>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <div>
                <mat-form-field class="w-full">
                    <mat-label>Grupo</mat-label>
                    <mat-select
                        (selectionChange)="onGrupoSelectChange($event)"
                        formControlName="groups"
                    >
                        @for (grupo of gruposDataSource; track grupo) {
                        <mat-option [value]="grupo.id">{{
                            grupo.name
                        }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <ng-template class="w-full" [ngIf]="editUserForm.value['is_staff']">
                    <label>Miembro del equipo?</label>
                    <mat-radio-group formControlName="is_staff">
                        <mat-radio-button class="example-margin" [value]="true"
                            >Si</mat-radio-button
                        >
                        <mat-radio-button class="example-margin" [value]="false"
                            >No</mat-radio-button
                        >
                    </mat-radio-group>
                </ng-template>
            </div>
        </div>
        <h1 class="mt-5 mb-5 font-semibold text-lg">Identificación:</h1>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <div>
                <mat-form-field class="w-full">
                    <mat-label>Nombre de usuario</mat-label>
                    <input matInput formControlName="username" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="w-full">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="first_name" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="w-full">
                    <mat-label>Apellidos</mat-label>
                    <input matInput formControlName="last_name" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input
                        type="email"
                        name="email"
                        matInput
                        placeholder="Ex. email@example.com"
                        email="true"
                        [required]="true"
                        formControlName="email"
                    />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input
                        type="password"
                        name="password"
                        matInput
                        [type]="hide ? 'password' : 'text'"
                        formControlName="password"
                    />
                    <button
                        type="button"
                        mat-icon-button
                        matSuffix
                        (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide"
                    >
                        <mat-icon>{{
                            hide ? 'visibility_off' : 'visibility'
                        }}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="w-full" floatLabel="always">
                    <mat-label>Telefono</mat-label>
                    <span matTextPrefix>+1 &nbsp;</span>
                    <input
                        type="tel"
                        matInput
                        placeholder="555-555-1234"
                        formControlName="telefono"
                    />
                    <mat-icon matSuffix>contact_phone</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-span-1 md:col-span-2">
                <mat-form-field class="w-full">
                    <mat-label>Direccion</mat-label>
                    <textarea
                        matInput
                        class="max-h-20"
                        formControlName="direccion"
                    ></textarea>
                </mat-form-field>
            </div>
        </div>
        <h1 class="mt-5 mb-5 font-semibold text-lg">Empleo:</h1>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <div>
                <mat-form-field class="w-full">
                    <mat-label>Puesto</mat-label>
                    <mat-select formControlName="puesto">
                        @for (puesto of puestosDataSource; track puesto) {
                        <mat-option [value]="puesto.id">{{
                            puesto.name
                        }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="w-full">
                    <mat-label>Departamento</mat-label>
                    <input matInput formControlName="departamento" />
                </mat-form-field>
            </div>
        </div>
        <h1 class="mt-5 mb-5 font-semibold text-lg">Contacto de emergencia:</h1>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <div class="col-span-3">
                <mat-form-field class="w-full">
                    <mat-label>Nombre y Relacion</mat-label>
                    <input
                        matInput
                        formControlName="nombre_relacion_contacto_emergencia"
                    />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="w-full" floatLabel="always">
                    <mat-label>Telefono</mat-label>
                    <span matTextPrefix>+1 &nbsp;</span>
                    <input
                        type="tel"
                        matInput
                        placeholder="555-555-1234"
                        formControlName="numero_telefono_contacto_emergencia"
                    />
                    <mat-icon matSuffix>contact_phone</mat-icon>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
