tr.pr-detail-row {
  height: 0;
}

tr.pr-element-row:not(.pr-expanded-row):hover {
  background: rgba(1, 1, 1, 0.048);
}

tr.pr-element-row:not(.pr-expanded-row):active {
  background: rgba(1, 1, 1, 0.048);
}
