<div
    class="justify-center min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8"
>
    <div class="flex justify-center">
        <div>
            <div class="mat-elevation-z0 w-fit">
                <mat-card class="w-full">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <mat-card-title class="p-5"> Sign in </mat-card-title>
                        <mat-card-content>
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>User Name</mat-label>
                                <input
                                    matInput
                                    formControlName="username"
                                    placeholder="Example User Name"
                                />
                            </mat-form-field>

                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Email</mat-label>
                                <input
                                    type="email"
                                    name="email"
                                    matInput
                                    formControlName="email"
                                    placeholder="Ex. pat@example.com"
                                    email="true"
                                />
                                <mat-error
                                    *ngIf="
                                        f['username'].errors &&
                                        f['username'].errors['required']
                                    "
                                >
                                    Email is <strong>required</strong>
                                </mat-error>
                                <mat-error
                                    *ngIf="
                                        f['email'].errors &&
                                        f['email'].errors['email'] &&
                                        !f['email'].errors['required']
                                    "
                                >
                                    Please enter a valid email address
                                </mat-error>
                                <mat-error
                                    *ngIf="
                                        f['email'].errors &&
                                        f['email'].errors['required']
                                    "
                                >
                                    Email is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Enter your password</mat-label>
                                <input
                                    type="password"
                                    name="password"
                                    matInput
                                    [type]="hide ? 'password' : 'text'"
                                    formControlName="password"
                                />
                                <button
                                    type="button"
                                    mat-icon-button
                                    matSuffix
                                    (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'"
                                    [attr.aria-pressed]="hide"
                                >
                                    <mat-icon>{{
                                        hide ? 'visibility_off' : 'visibility'
                                    }}</mat-icon>
                                </button>
                                <mat-error
                                    *ngIf="
                                        f['password'].errors &&
                                        f['password'].errors['required']
                                    "
                                >
                                    Password is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-card-footer>
                                <button
                                    type="submit"
                                    mat-fab
                                    extended
                                    class="w-full"
                                    [disabled]="!registerForm.valid"
                                >
                                    <mat-icon>key</mat-icon>
                                    Register
                                </button>
                            </mat-card-footer>
                        </mat-card-content>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>
